<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Store Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("Store", "List", "Product", null, new { @class = "navbar-brand"})
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Catalog", "List", "Catalog", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("LogOut", "Logout", "Account", null, new { @class = "nav-link" })
                    } else {@Html.ActionLink("LogIn", "Login", "Account", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "nav-link" })}
                </li>
                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink(User.Identity.Name, null, null, null, new { @class = "nav-link disabled" })
                    }
                    else
                    {
                        @Html.ActionLink("Registration", "Register", "Account", null, new { @class = "nav-link" })
                    }
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Json", "Index", "Json", null, new { @class = "nav-link" })
                </li>
            </ul>

            @Html.Action("Summary", "Cart")

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>