@model Domain.Entities.Product

<div class="col-xl-3 border-bottom">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# uah")</span>
    </h3>
    <span class="lead">@Model.Description</span>
    <hr />
    @Html.ActionLink(Model.Category.Description, "List", "Product", new { category = Model.Category.Description }, null)
    <br />
    <br />
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }
    <br />
</div>